
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.seccion-ods {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../img/Infotmativa.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto elegante */
    min-height: 80vh;
    padding: 80px 0;
}

.ods-icon {
    border-radius: 12px;
    transition: transform 0.3s ease;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 12px;
}


.navbar{
    padding: 20px;
}

a img{
    height: 50px;
}
h1 {
    font-weight: 700;
}

.card {
    border: 5px solid transparent;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #1a8754;
}
.navbar-brand img {
    object-fit: contain;
}

.containerPrincipal{
    min-height: 86vh;
    display: flex;
    align-items: center;
}

.pasos img{
    height: 200px;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
}




